<!-- toc -->
{{#has_toc}}
<div class="left-sidebar">
    <div class="toc"></div>
    <div class="toc-toggle"></div>
</div>
<script src="{{js_url}}toc.js" type="text/javascript"></script>
{{/has_toc}}
<script src="{{js_url}}image.js" type="text/javascript"></script>
{{#has_comment}}
<!-- giscus -->
<!-- <script src="https://giscus.app/client.js"
        data-repo="code-pigeon/blog"
        data-repo-id="R_kgDOMDeCsA"
        data-category="Announcements"
        data-category-id="DIC_kwDOMDeCsM4Chk54"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="dark_protanopia"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
</script> -->
<script src="{{js_url}}Valine.min.js" type="text/javascript"></script>
<script>
    new Valine({
        el: '#vcomments',
        appId: 'TDB9xGfHmUV3oqQsbt0cMGeC-gzGzoHsz',
        appKey: 'zGEuPjaoxWdF8dz9iB1rvSj4',
        placeholder: '期待你的评论',
        avatar: 'wavatar',
        avatar_cdn: 'https://cravatar.cn/avatar/',
        visitor: true,
        enableQQ: true
    })
</script>
<!-- srcoll for dynamic content -->
<script src="{{js_url}}scroll.js" type="text/javascript"></script>
{{/has_comment}}